<h2>Product Details</h2>


<div *ngIf="product">
  
  <h3>{{ product.name }}</h3>
  <p><img src = {{product.firstimage}} [ngClass] = "'c1'"></p>
  <h4>{{ product.price | currency }} </h4>
  <p>{{ product.description }}</p>
  <p>{{product.memory}} </p>
  <p>{{product.maincamera}}</p>
  <button (click)="addToCart(product)">Buy</button>

</div>
